/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.vapor
.env*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
storage/logs/*
/data/*
/data/redis/dump.rdb
rr
.rr.yaml
.vapor/
.env.production
.env.staging
!.env.*.encrypted
.env.qa71
.DS_Store
/storage/keys
/storage/private/processos
